.after::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: rgb(168, 178, 209);
}

.link {
  color: var(--green);
  transition: all ease-in-out .3s;
  top: 0;
}

.link:hover {
  transition: all ease-in-out .3s;
  top: -0.2rem;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 30rem;
}